<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
</head>
<body>
    <header>
        <div style="overflow: hidden;">
           

            @Html.Partial("_LoginPartial")


            <a id="indexHeaderLogo" href="@Url.Action("Index","Home")">
                <center>  <img src="@Url.Content("~/Content/Images/logo.png")" class="center" /></center> 
            </a>
        </div>
    </header>

    <div>
        @RenderBody()
    </div>







    <footer>
        <nav>
            <ul>
                <li><a href="@Url.Action("StronyStatyczne","Home", new { nazwa = "Onas" })" style="">Firma</a></li>
                <li><a href="@Url.Action("StronyStatyczne","Home", new { nazwa = "Spolecznosc" })" style="">ABC Wspólnoty</a></li>
                <li><a href="@Url.Action("StronyStatyczne","Home", new { nazwa = "Opinie" })" style="">Satysfakcja</a></li>
                <li><a href="@Url.Action("StronyStatyczne","Home", new { nazwa = "Pomoc" })" style="">Porady</a></li>
                <li><a href="@Url.Action("StronyStatyczne","Home", new { nazwa = "Regulamin" })" style="">Telefony alarmowe</a></li>
                <li><a href="@Url.Action("StronyStatyczne","Home", new { nazwa = "Kontakt" })" style="">Kontakt</a></li>
            </ul>
        </nav>
        <div id="footerLogo">
        </div>
        <div id="footerCopyright">
            
        </div>
    </footer>

    @RenderSection("Scripts", required : false)
</body>
</html>