@{
// Layout = "~/Views/Shared/_Layout.cshtml"
    ViewBag.Title = "Strona glowna";
}


<ul id="menu">
    <li><a href="@Url.Action("Index","Home")">Strona Startowa</a></li>
    <li>
        <a >O nas</a>
        <ul>
            <li><a href="@Url.Action("StronyStatyczne","Home", new { nazwa = "Firma" })">Firma</a></li>
            <li><a href="@Url.Action("StronyStatyczne","Home", new { nazwa = "Doswiadczenie" })">Nasze doświadczenie</a></li>
            <li><a href="@Url.Action("StronyStatyczne","Home", new { nazwa = "Zespol" })">Profesjonalny zespół</a></li>
        </ul>
    </li>
    <li><a href="@Url.Action("StronyStatyczne","Home", new { nazwa = "Artykuly" })">RODO</a></li>
    <li>
        <a >Oferta</a>
        <ul>
            <li><a href="@Url.Action("StronyStatyczne","Home", new { nazwa = "OfertaWspolnota" })">Wspolnota</a></li>
            <li><a href="@Url.Action("StronyStatyczne","Home", new { nazwa = "OfertaDeweloper" })">Deweloper</a></li>
        </ul>
    </li>
    <li><a href="@Url.Action("StronyStatyczne","Home", new { nazwa = "Galeria" })">Galeria</a></li>
    <li>
        <a >Kontakt</a>
        <ul>
            <li><a href="@Url.Action("StronyStatyczne","Home", new { nazwa = "Kontakt" })">Dane kontaktowe</a></li>
            <li><a href="@Url.Action("StronyStatyczne","Home", new { nazwa = "Pomoc" })">Porady</a></li>
        </ul>
    </li>
    <li>
        <a >Współpraca</a>
        <ul>
            <li><a href="@Url.Action("StronyStatyczne","Home", new { nazwa = "Referencje" })">Program partnerski</a></li>
            <li><a href="@Url.Action("StronyStatyczne","Home", new { nazwa = "Kariera" })">Kariera</a></li>
        </ul>
    </li>
</ul>


<br/>

   <nav class="kategorieHorizontal">


    <a href="link">
        <img id="baner" src="../Content/Images/baner.png" />
    </a>
</nav>




<br /><br />
 <b>W Polsce powstaje coraz więcej firm oferujących usługi zarządzania i administrowania nieruchomościami. Jeśli jesteśmy odpowiedzialni za wybór takiej firmy dla naszej wspólnoty mieszkaniowej powinniśmy pamiętać o kilku rzeczach przy podejmowaniu decyzji. Dobra firma to taka, która oferuje nowoczesne zarządzanie nieruchomościami. Ale co kryje się pod tym hasłem? Jak dokonać dobrego wyboru? Idealny zarządca nieruchomości czyli jaki?</b>
<br/><br />
Co oznacza nowoczesne zarządzanie nieruchomościami?
<br /><br />
Obecnie ponad połowa Polaków korzysta z Internetu. Coraz więcej osób comiesięczne formalności związane z opłatami za media lub czynsz reguluje za pośrednictwem sieci. Także duża część społeczeństwa preferuje przeglądanie i otrzymywanie różnych dokumentów za pośrednictwem sieci Internet style=zamiast tradycyjnej poczty. Nowoczesne zarządzanie nieruchomościami wiąże się więc z otwartością zarządców na nowe technologie.
<br /><br />
Nowoczesny zarządca nieruchomości to taki, który oferuje swoim klientom możliwość bieżącej kontroli nad kosztami utrzymania nieruchomości oraz rachunkami za media za pośrednictwem Internetu. Część firm oferuje już bardzo zaawansowane systemy internetowe. Każdy członek wspólnoty mieszkaniowej otrzymuje swoje własne konto w systemie. Może dzięki temu sprawdzić ostatnie odczyty liczników mediów, historię rozliczeń i sprawozdania finansowe zarządcy. Mieszkańcy zwykle otrzymują także wygodne, wewnętrzne forum dyskusyjne i miejsce, w którym zarządca nieruchomości oraz zarząd wspólnoty mogą się z nimi w komfortowy sposób komunikować i przekazywać bieżące informacje. Temu służą też popularne portale społecznościowe, jak np. Facebook. Dodatkowo członkowie zarządu wspólnoty mają jeszcze szerszy dostęp do danych dotyczących nieruchomości.
<br /><br />
Z kolei firma administrująca budynkiem może dzięki systemowi błyskawicznie komunikować się z zarządem wspólnoty i poszczególnymi mieszkańcami. Klient firmy może kontrolować stan zgłoszeń awarii i usterek, sprawdzić czy dana praca została wykonana. Systemy informatyczne umożliwiają także zdalny dostęp do szeregu dokumentów dotyczących nieruchomości, które w swojej siedzibie przechowuje i archiwizuje administrator nieruchomości. Mogą to być na przykład spisy mieszkańców, ewidencje różnych urządzeń znajdujących się w budynku czy pełna historia odczytów liczników mediów. Zazwyczaj wszystkie dostępne w systemie dane mogą być także filtrowane według dowolnych kryteriów.