@model ZarzadzanieNieruchomosciami.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--section SectionTitle
{
    Rejestracja
} -->


<div>
    @using (@Html.BeginForm("Register", "Account"))
    {
        @Html.AntiForgeryToken()

        for (int i = 0; i < Model.AvailableRoles.Count; i++)
        {
            @Html.HiddenFor(model => Model.AvailableRoles[i].Id)
            @Html.HiddenFor(model => Model.AvailableRoles[i].Name)
        }
        for (int i = 0; i < Model.AvailableApartments.Count; i++)
        {
            @Html.HiddenFor(model => Model.AvailableApartments[i].Id)
            @Html.HiddenFor(model => Model.AvailableApartments[i].Name)
        }

        <div id="login-error">
            @Html.ValidationMessage("loginerror", "")
            @Html.ValidationSummary()
        </div>

        <table id="login-table" style="margin-left: auto; margin-right: auto;">
            <tr>
                <td>@Html.LabelFor(o => o.Email, "E-mail:")</td>
                <td>
                    @Html.TextBoxFor(o => o.Email)
                    <div class="login-validation-message">
                        @Html.ValidationMessageFor(o => o.Email)
                    </div>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(o => o.Password, "Hasło:")</td>
                <td>
                    @Html.PasswordFor(o => o.Password)
                    <div class="login-validation-message">
                        @Html.ValidationMessageFor(o => o.Password)
                    </div>
                </td>
                <td></td>
            </tr>
            <tr>
                <td style="padding: 0px 20px 0px 0px; text-align: left;">
                    @Html.LabelFor(o => o.ConfirmPassword, "Potwierdź hasło:")
                </td>
                <td style="padding: 0px; text-align: left;">
                    @Html.PasswordFor(o => o.ConfirmPassword)
                    <div class="login-validation-message">
                        @Html.ValidationMessageFor(o => o.ConfirmPassword)
                    </div>
                </td>

                <td></td>
            </tr>
            <tr>
                <td style="padding: 0px 20px 0px 0px; text-align: left;">
                    @Html.LabelFor(m => m.SelectedRoleName, "Rola użytkownika:")
                </td>
                <td style="padding: 0px; text-align: left;">
                    @Html.DropDownListFor(m => m.SelectedRoleName, new SelectList(Model.AvailableRoles, "Name", "Name"))                    
                </td>
            </tr>
            <tr id="apartment_panel" @(Model.SelectedRoleName == "User" ? "" : "class=hidden")>
                <td style="padding: 0px 20px 0px 0px; text-align: left;">
                    @Html.LabelFor(m => m.SelectedApartmentId, "Lokal:")
                </td>
                <td style="padding: 0px; text-align: left;">
                    @Html.DropDownListFor(m => m.SelectedApartmentId, new SelectList(Model.AvailableApartments, "Id", "Name"))
                </td>               
            </tr>
            <tr>
                <td></td>
                <td colspan="2" style="text-align: right; padding-right: 20px;">
                    <input type="submit" value="Zarejestruj" class="submitLink" style="height: 40px; text-align: right; margin: 0px; padding: 0px;" />
                </td>
            </tr>
        </table>
    }
</div>

@section Scripts
{
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <script type="text/javascript">
        $(function () {
            $("#SelectedRoleName").change(function () {
                var val = $(this).val();
                if (val == 'Admin') {
                    $("#apartment_panel").hide();
                } else if (val == 'Employee') {
                    $("#apartment_panel").hide();
                } else if (val == 'Manager') {
                    $("#apartment_panel").hide();
                } else if (val == 'User') {
                    $("#apartment_panel").show();
                }
            });
        });
    </script>
}