@model ZarzadzanieNieruchomosciami.ViewModels.EditGlosowanieViewModel

@{
    ViewBag.Title = "DodajGlosowanie";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<hr />
<h2 class="manageHeader">Dodaj </h2>
<div>
    @if (Model.Potwierdzenie.HasValue && Model.Potwierdzenie.Value)
    {
        <div style="text-align: center; margin: 50px;">
            Pomyślnie wprowadzono zmiany!
        </div>
    }
    <!--"multipart/form-data"  możliwosc przeslania pliku -->

    @using (@Html.BeginForm("DodajGlosowanie", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken() <!--zabezpieczenie przed niepowołanym dostepem-->

        <div class="error-summary-centered">
            @Html.ValidationSummary()  <!--informacje sumaryczne walidatora-->
        </div>
        @Html.HiddenFor(o => o.Glosowanie.GlosowanieId)
        //Html.HiddenFor(o => o.Lokal.DataDodania)
        //Html.HiddenFor(o => o.Lokal.NazwaPlikuObrazka)

        <div style="text-align: center;">
            <table id="albumedit-address-table">
                <tr>
                    <td>@Html.LabelFor(o => o.Glosowanie.NumerUchwaly, "NumerUchwaly:")</td>
                    <td>@Html.TextBoxFor(o => o.Glosowanie.NumerUchwaly)</td>
                    <td>@Html.ValidationMessageFor(o => o.Glosowanie.NumerUchwaly)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(o => o.Glosowanie.Nazwa, "Nazwa:")</td>
                    <td>@Html.TextBoxFor(o => o.Glosowanie.Nazwa)</td>
                    <td>@Html.ValidationMessageFor(o => o.Glosowanie.Nazwa)</td>
                </tr>
              

                <tr>
                    <td>@Html.LabelFor(o => o.BlokiMieszkalne, "Blok Mieszkalny:")</td>
                    <td>@Html.DropDownListFor(m => m.Glosowanie.BlokMieszkalnyId, new SelectList(Model.BlokiMieszkalne, "BlokMieszkalnyId", "Adres", Model.BlokiMieszkalne.First().BlokMieszkalnyId))</td>
                    <td></td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(o => o.Glosowanie.Pytanie1, "Pytanie1:")</td>
                    <td>@Html.TextBoxFor(o => o.Glosowanie.Pytanie1)</td>
                    <td>@Html.ValidationMessageFor(o => o.Glosowanie.Pytanie1)</td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(o => o.Glosowanie.Pytanie2, "Pytanie2:")</td>
                    <td>@Html.TextBoxFor(o => o.Glosowanie.Pytanie2)</td>
                    <td>@Html.ValidationMessageFor(o => o.Glosowanie.Pytanie2)</td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(o => o.Glosowanie.Pytanie3, "Pytanie3:")</td>
                    <td>@Html.TextBoxFor(o => o.Glosowanie.Pytanie3)</td>
                    <td>@Html.ValidationMessageFor(o => o.Glosowanie.Pytanie3)</td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(o => o.Glosowanie.Pytanie4, "Pytanie4:")</td>
                    <td>@Html.TextBoxFor(o => o.Glosowanie.Pytanie4)</td>
                    <td>@Html.ValidationMessageFor(o => o.Glosowanie.Pytanie4)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(o => o.Glosowanie.Pytanie5, "Pytanie5:")</td>
                    <td>@Html.TextBoxFor(o => o.Glosowanie.Pytanie5)</td>
                    <td>@Html.ValidationMessageFor(o => o.Glosowanie.Pytanie5)</td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(o => o.Glosowanie.Pytanie6, "Pytanie6:")</td>
                    <td>@Html.TextBoxFor(o => o.Glosowanie.Pytanie6)</td>
                    <td>@Html.ValidationMessageFor(o => o.Glosowanie.Pytanie6)</td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(o => o.Glosowanie.Pytanie7, "Pytanie7:")</td>
                    <td>@Html.TextBoxFor(o => o.Glosowanie.Pytanie7)</td>
                    <td>@Html.ValidationMessageFor(o => o.Glosowanie.Pytanie7)</td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(o => o.Glosowanie.Pytanie8, "Pytanie8:")</td>
                    <td>@Html.TextBoxFor(o => o.Glosowanie.Pytanie8)</td>
                    <td>@Html.ValidationMessageFor(o => o.Glosowanie.Pytanie8)</td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(o => o.Glosowanie.Pytanie9, "Pytanie9:")</td>
                    <td>@Html.TextBoxFor(o => o.Glosowanie.Pytanie9)</td>
                    <td>@Html.ValidationMessageFor(o => o.Glosowanie.Pytanie9)</td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(o => o.Glosowanie.Pytanie10, "Pytanie10:")</td>
                    <td>@Html.TextBoxFor(o => o.Glosowanie.Pytanie10)</td>
                    <td>@Html.ValidationMessageFor(o => o.Glosowanie.Pytanie10)</td>
                </tr>
                <tr>



                    <td style="text-align: right;">
                        <input type="submit" value="Zapisz" class="submitLink" style="height: 40px; margin-right: 0px; margin-top: 30px; font-weight: bold;" />
                    </td>
                    <td></td>
                </tr>
            </table>
        </div>
    }
</div>

