@model ZarzadzanieNieruchomosciami.ViewModels.EditLokalViewModel

@{
    ViewBag.Title = "DodajLokal";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<hr />
<h2 class="manageHeader">Edycja lokalu</h2>
<div>
    @if (Model.Potwierdzenie.HasValue && Model.Potwierdzenie.Value)
    {
        <div style="text-align: center; margin: 50px;">
            Pomyślnie wprowadzono zmiany!
        </div>
    }
    <!--"multipart/form-data"  możliwosc przeslania pliku -->
    @using (@Html.BeginForm("DodajLokal", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken() <!--zabezpieczenie przed niepowołanym dostepem-->

        <div class="error-summary-centered">
            @Html.ValidationSummary()  <!--informacje sumaryczne walidatora-->
        </div>
        @Html.HiddenFor(o => o.Lokal.LokalID)
        //Html.HiddenFor(o => o.Lokal.DataDodania)
        //Html.HiddenFor(o => o.Lokal.NazwaPlikuObrazka)

        <div style="text-align: center;">
            <table id="albumedit-address-table">
                <tr>
                    <td>@Html.LabelFor(o => o.Lokal.NumerLokalu, "Numer lokalu:")</td>
                    <td>@Html.TextBoxFor(o => o.Lokal.NumerLokalu)</td>
                    <td>@Html.ValidationMessageFor(o => o.Lokal.NumerLokalu)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(o => o.Lokal.PowierzchniaLokalu, "Powierzchnia lokalu:")</td>
                    <td>@Html.TextBoxFor(o => o.Lokal.PowierzchniaLokalu)</td>
                    <td>@Html.ValidationMessageFor(o => o.Lokal.PowierzchniaLokalu)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(o => o.Lokal.LiczbaIzb, "Liczba izb przynalezna do lokalu:")</td>
                    <td>@Html.TextBoxFor(o => o.Lokal.LiczbaIzb)</td>
                    <td>@Html.ValidationMessageFor(o => o.Lokal.LiczbaIzb)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(o => o.Lokal.PowPiwnicy, "Powierzchnia piwnicy przynaleznej do lokalu:")</td>
                    <td>@Html.TextBoxFor(o => o.Lokal.PowPiwnicy)</td>
                    <td>@Html.ValidationMessageFor(o => o.Lokal.PowPiwnicy)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(o => o.Lokal.Pietro, "Pietro:")</td>
                    <td>@Html.TextBoxFor(o => o.Lokal.Pietro)</td>
                    <td>@Html.ValidationMessageFor(o => o.Lokal.Pietro)</td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(o => o.BlokiMieszkalne, "Blok Mieszkalny:")</td>
                    <td>@Html.DropDownListFor(m => m.Lokal.BlokMieszkalnyID, new SelectList(Model.BlokiMieszkalne, "BlokMieszkalnyId", "Adres", Model.BlokiMieszkalne.First().BlokMieszkalnyId))</td>
                    @*<td>@Html.DropDownListFor(m => m.Kurs.KategoriaId, new SelectList(Model.Kategorie, "KategoriaId", "NazwaKategorii",       Model.Kategorie.First().KategoriaId))</td>*@
                    <td></td>
                </tr>

                <!-- <malpka> if (ViewBag.EditMode == null || !ViewBag.EditMode)
                {
                    <tr>
                        <td colspan="3">
                            <div class="upload">
                                <input type="file" name="file" />
                            </div>
                        </td>
                    </tr>
                }-->
                <tr>

                    <td style="text-align: left">
                        @if (ViewBag.EditMode)
                        {
                            if (Model.Lokal.Ukryty)
                            {
                                <a href="@Url.Action("PokazLokal", "Manage", new { LokalId = Model.Lokal.LokalID })" style="display: block; margin-top: 15px; font-weight: bold;">
                                    Przywróć
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("UkryjLokal", "Manage", new { LokalId = Model.Lokal.LokalID })" style="display: block; margin-top: 15px; font-weight: bold;">
                                    Usuń
                                </a>
                            }
                        }
                    </td>


                    <td style="text-align: right;">
                        <input type="submit" value="Zapisz" class="submitLink" style="height: 40px; margin-right: 0px; margin-top: 30px; font-weight: bold;" />
                    </td>
                    <td></td>
                </tr>
            </table>
        </div>
    }
</div>
