@model ZarzadzanieNieruchomosciami.ViewModels.EditGlosowanieViewModel

@{
    ViewBag.Title = "DodajGlosowanie";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<hr />
<h2 class="manageHeader">Dodaj </h2>
<div>
    @if (Model.Potwierdzenie.HasValue && Model.Potwierdzenie.Value)
    {
        <div style="text-align: center; margin: 50px;">
            Pomyślnie wprowadzono zmiany!
        </div>
    }
    <!--"multipart/form-data"  możliwosc przeslania pliku -->

    @using (@Html.BeginForm("DodajGlosowanie", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken() <!--zabezpieczenie przed niepowołanym dostepem-->

        <div class="error-summary-centered">
            @Html.ValidationSummary()  <!--informacje sumaryczne walidatora-->
        </div>
        @Html.HiddenFor(o => o.Glosowanie.GlosowanieId)
        //Html.HiddenFor(o => o.Lokal.DataDodania)
        //Html.HiddenFor(o => o.Lokal.NazwaPlikuObrazka)

        <div style="text-align: center;">
            <table id="albumedit-address-table">
                <tr>
                    <td>@Html.LabelFor(o => o.Glosowanie.NumerUchwaly, "NumerUchwaly:")</td>
                    <td>@Html.TextBoxFor(o => o.Glosowanie.NumerUchwaly)</td>
                    <td>@Html.ValidationMessageFor(o => o.Glosowanie.NumerUchwaly)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(o => o.Glosowanie.Nazwa, "Nazwa:")</td>
                    <td>@Html.TextBoxFor(o => o.Glosowanie.Nazwa)</td>
                    <td>@Html.ValidationMessageFor(o => o.Glosowanie.Nazwa)</td>
                </tr>
              

                <tr>
                    <td>@Html.LabelFor(o => o.BlokiMieszkalne, "Blok Mieszkalny:")</td>
                    <td>@Html.DropDownListFor(m => m.Glosowanie.BlokMieszkalnyId, new SelectList(Model.BlokiMieszkalne, "BlokMieszkalnyId", "Adres", Model.BlokiMieszkalne.First().BlokMieszkalnyId))</td>
                    <td></td>
                </tr>

                <tr>



                    <td style="text-align: right;">
                        <input id="add-question" type="button" value="Dodaj pytanie" class="submitLink" style="height: 40px; margin-right: 0px; margin-top: 30px; font-weight: bold;" />
                        <input type="submit" value="Zapisz" class="submitLink" style="height: 40px; margin-right: 0px; margin-top: 30px; font-weight: bold;" />
                    </td>
                    <td></td>
                </tr>
            </table>
        </div>
    }
</div>

@section Scripts
{
    <script src="~/Scripts/jquery-3.3.1.js"></script>

    <script type="text/javascript">
        $(function () {
            $("#add-question").click(function () {
                var questionsCount = $('.table-question-row').length
                var questionNumber = questionsCount + 1;
                $('#albumedit-address-table tr:last').prev().after('<tr class="table-question-row"><td class="question">Pytanie ' + questionNumber + ':</td><td><input class="question-id" type="hidden" name="Pytania[' + questionsCount + '].PytanieId" value="0" /><input class="question-content" type="text" name="Pytania[' + questionsCount + '].TrescPytania" value="" /></td><td style="color: black" class="remove-table-question-row">Usuń</td></tr>');
            });

            $('body').on('click', '.remove-table-question-row', function () {
                $(this).parent().remove();
                var counter = 0;
                $('.table-question-row').each(function () {
                    $(this).find(".question-id").attr('name', 'Pytania[' + counter + '].PytanieId');
                    $(this).find(".question-content").attr('name', 'Pytania[' + counter + '].TrescPytania');
                    var number = counter + 1;
                    $(this).find(".question").html("Pytanie " + number);
                    counter++;
                });
            });
        });
    </script>
}