@model ZarzadzanieNieruchomosciami.ViewModels.EditBudynekViewModel

@{
    ViewBag.Title = "DodajBudynek";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<hr />
<h2 class="manageHeader">Dodaj budynek</h2>
<div>
    @if (Model.Potwierdzenie.HasValue && Model.Potwierdzenie.Value)
    {
        <div style="text-align: center; margin: 50px;">
            Pomyślnie wprowadzono zmiany!
        </div>
    }
    <!--"multipart/form-data"  możliwosc przeslania pliku -->

    @using (@Html.BeginForm("DodajBudynek", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken() <!--zabezpieczenie przed niepowołanym dostepem-->

        <div class="error-summary-centered">
            @Html.ValidationSummary()  <!--informacje sumaryczne walidatora-->
        </div>
        @Html.HiddenFor(o => o.Budynek.BlokMieszkalnyId)
        //Html.HiddenFor(o => o.Lokal.DataDodania)
        //Html.HiddenFor(o => o.Lokal.NazwaPlikuObrazka)

        <div style="text-align: center;">
            <table id="albumedit-address-table">
                <tr>
                    <td>@Html.LabelFor(o => o.Budynek.Ulica, "Nazwa ulicy")</td>
                    <td>@Html.TextBoxFor(o => o.Budynek.Ulica)</td>
                    <td>@Html.ValidationMessageFor(o => o.Budynek.Ulica)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(o => o.Budynek.NumerBlokuMieszkalnego, "Numer budynku")</td>
                    <td>@Html.TextBoxFor(o => o.Budynek.NumerBlokuMieszkalnego)</td>
                    <td>@Html.ValidationMessageFor(o => o.Budynek.NumerBlokuMieszkalnego)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(o => o.Budynek.Adres, "Pełen adres")</td>
                    <td>@Html.TextBoxFor(o => o.Budynek.Adres)</td>
                    <td>@Html.ValidationMessageFor(o => o.Budynek.Adres)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(o => o.Budynek.PowierzchniaUzytkowa, "Powierzchnia użytkowa")</td>
                    <td>@Html.TextBoxFor(o => o.Budynek.PowierzchniaUzytkowa)</td>
                    <td>@Html.ValidationMessageFor(o => o.Budynek.PowierzchniaUzytkowa)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(o => o.Budynek.LiczbaLokali, "Liczba lokali")</td>
                    <td>@Html.TextBoxFor(o => o.Budynek.LiczbaLokali)</td>
                    <td>@Html.ValidationMessageFor(o => o.Budynek.LiczbaLokali)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(o => o.Budynek.NrEwidDzialki, "Nr ewidencyjny działki")</td>
                    <td>@Html.TextBoxFor(o => o.Budynek.NrEwidDzialki)</td>
                    <td>@Html.ValidationMessageFor(o => o.Budynek.NrEwidDzialki)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(o => o.Budynek.PowDzialki, "Pow. dzialki ")</td>
                    <td>@Html.TextBoxFor(o => o.Budynek.PowDzialki)</td>
                    <td>@Html.ValidationMessageFor(o => o.Budynek.PowDzialki)</td>
                </tr>


                @*<tr>
                        <td>@Html.LabelFor(o => o.BlokiMieszkalne, "Blok Mieszkalny:")</td>
                        <td>@Html.DropDownListFor(m => m.Lokal.BlokMieszkalnyId, new SelectList(Model.BlokiMieszkalne, "BlokMieszkalnyId", "Adres", Model.BlokiMieszkalne.First().BlokMieszkalnyId))</td>
                        <td></td>
                    </tr>*@

                <!-- <malpka> if (ViewBag.EditMode == null || !ViewBag.EditMode)
                {
                    <tr>
                        <td colspan="3">
                            <div class="upload">
                                <input type="file" name="file" />
                            </div>
                        </td>
                    </tr>
                }-->


                <tr>
                    <td>@Html.LabelFor(o => o.Budynek.PrzeznaczenieDzialki, "Przeznaczenie dzialki")</td>
                    <td>@Html.TextBoxFor(o => o.Budynek.PrzeznaczenieDzialki)</td>
                    <td>@Html.ValidationMessageFor(o => o.Budynek.PrzeznaczenieDzialki)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(o => o.Budynek.PowTerenuZielonego, "Powierzchnia terenu zielonego")</td>
                    <td>@Html.TextBoxFor(o => o.Budynek.PowTerenuZielonego)</td>
                    <td>@Html.ValidationMessageFor(o => o.Budynek.PowTerenuZielonego)</td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(o => o.Budynek.IloscPieter, "Ilość pięter")</td>
                    <td>@Html.TextBoxFor(o => o.Budynek.IloscPieter)</td>
                    <td>@Html.ValidationMessageFor(o => o.Budynek.IloscPieter)</td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(o => o.Budynek.TechnologiaWykonania, "Technologia wykonania")</td>
                    <td>@Html.TextBoxFor(o => o.Budynek.TechnologiaWykonania)</td>
                    <td>@Html.ValidationMessageFor(o => o.Budynek.TechnologiaWykonania)</td>
                </tr>	
@*kkk*@
                <tr>
                    <td>@Html.LabelFor(o => o.Budynek.IloscKlatek, "Ilość klatek")</td>
                    <td>@Html.TextBoxFor(o => o.Budynek.IloscKlatek)</td>
                    <td>@Html.ValidationMessageFor(o => o.Budynek.IloscKlatek)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(o => o.Budynek.RokBudowy, "Rok zakończenia budowy")</td>
                    <td>@Html.TextBoxFor(o => o.Budynek.RokBudowy)</td>
                    <td>@Html.ValidationMessageFor(o => o.Budynek.RokBudowy)</td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(o => o.Budynek.Kubatura, "Kubatura")</td>
                    <td>@Html.TextBoxFor(o => o.Budynek.Kubatura)</td>
                    <td>@Html.ValidationMessageFor(o => o.Budynek.Kubatura)</td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(o => o.Budynek.PowPodpiwniczenia, "Pow. podpiwniczenia")</td>
                    <td>@Html.TextBoxFor(o => o.Budynek.PowPodpiwniczenia)</td>
                    <td>@Html.ValidationMessageFor(o => o.Budynek.PowPodpiwniczenia)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(o => o.Budynek.IloscLawek, "Ilosc ławek")</td>
                    <td>@Html.TextBoxFor(o => o.Budynek.IloscLawek)</td>
                    <td>@Html.ValidationMessageFor(o => o.Budynek.IloscLawek)</td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(o => o.Budynek.ObMalejArchitektury, "Obiekty malej architektury")</td>
                    @*<td>@Html.TextBoxFor(o => o.Budynek.ObMalejArchitektury)</td>*@
                    <td>@Html.TextAreaFor(o => o.Budynek.ObMalejArchitektury, new { style = " height: 200px;" })</td>
                    <td>@Html.ValidationMessageFor(o => o.Budynek.ObMalejArchitektury)</td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(o => o.Budynek.Smietnik, "śmietnik")</td>
                    @*<td>@Html.TextBoxFor(o => o.Budynek.Smietnik)</td>*@
                    <td>@Html.TextAreaFor(o => o.Budynek.Smietnik, new { style = " height: 200px;" })</td>
                    <td>@Html.ValidationMessageFor(o => o.Budynek.Smietnik)</td>
                </tr>		 		 
@*kkk*@
                <tr>
                    <td>@Html.LabelFor(o => o.Budynek.ProtokolOdbioruObiektu, "Protokoł odbioru obiektu")</td>
                    @*<td>@Html.TextBoxFor(o => o.Budynek.ProtokolOdbioruObiektu)</td>*@
                    <td>@Html.TextAreaFor(o => o.Budynek.ProtokolOdbioruObiektu, new { style = " height: 200px;" })</td>
                    <td>@Html.ValidationMessageFor(o => o.Budynek.ProtokolOdbioruObiektu)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(o => o.Budynek.PozwolenieNaUzytkowanieObiektu, "Pozwolenie na użytkowanie obiektu")</td>
                    @*<td>@Html.TextBoxFor(o => o.Budynek.PozwolenieNaUzytkowanieObiektu)</td>*@
                    <td>@Html.TextAreaFor(o => o.Budynek.PozwolenieNaUzytkowanieObiektu, new { style = " height: 200px;" })</td>
                    <td>@Html.ValidationMessageFor(o => o.Budynek.PozwolenieNaUzytkowanieObiektu)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(o => o.Budynek.ProtokolPrzejeciaObiektu, "Protokół przejęcia obiektu")</td>
                    @*<td>@Html.TextBoxFor(o => o.Budynek.ProtokolPrzejeciaObiektu)</td>*@
                    <td>@Html.TextAreaFor(o => o.Budynek.ProtokolPrzejeciaObiektu, new { style = " height: 200px;" })</td>
                    <td>@Html.ValidationMessageFor(o => o.Budynek.ProtokolPrzejeciaObiektu)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(o => o.Budynek.DataZalozeniaKsiegiOB, "Data założenia ksiegi obiektu budowlanego")</td>
                    <td>@Html.TextBoxFor(o => o.Budynek.DataZalozeniaKsiegiOB)</td>
                    <td>@Html.ValidationMessageFor(o => o.Budynek.DataZalozeniaKsiegiOB)</td>
                </tr>


                <tr>
                    <td>@Html.LabelFor(o => o.Budynek.DokumentyPrzekazaneZarządcy, "Dokumenty przekazane zarządcy")</td>
                    @*<td>@Html.TextBoxFor(o => o.Budynek.DokumentyPrzekazaneZarządcy)</td>*@
                    <td>@Html.TextAreaFor(o => o.Budynek.DokumentyPrzekazaneZarządcy, new { style = " height: 200px;" })</td>
                    <td>@Html.ValidationMessageFor(o => o.Budynek.DokumentyPrzekazaneZarządcy)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(o => o.Budynek.SwiadectwoCharakterystykiEnergetycznej, "Świadectwo charakterystyki energetycznej")</td>
                    @*<td>@Html.TextBoxFor(o => o.Budynek.SwiadectwoCharakterystykiEnergetycznej)</td>*@
                    <td>@Html.TextAreaFor(o => o.Budynek.SwiadectwoCharakterystykiEnergetycznej, new { style = " height: 200px;" })</td>
                    <td>@Html.ValidationMessageFor(o => o.Budynek.SwiadectwoCharakterystykiEnergetycznej)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(o => o.Budynek.ProtokolPrzejeciaObiektu, "Protokół przejecia obiektu")</td>
                    @*<td>@Html.TextBoxFor(o => o.Budynek.ProtokolPrzejeciaObiektu)</td>*@
                    <td>@Html.TextAreaFor(o => o.Budynek.ProtokolPrzejeciaObiektu, new { style = " height: 200px;" })</td>
                    <td>@Html.ValidationMessageFor(o => o.Budynek.ProtokolPrzejeciaObiektu)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(o => o.Budynek.DataOstProtokołuKontroli, "Data protokołu kontroli")</td>
                    <td>@Html.TextBoxFor(o => o.Budynek.DataOstProtokołuKontroli)</td>
                    <td>@Html.ValidationMessageFor(o => o.Budynek.DataOstProtokołuKontroli)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(o => o.Budynek.DataKontroliSysOgrzewania, "Data kontroli systemu ogrzewania")</td>
                    <td>@Html.TextBoxFor(o => o.Budynek.DataKontroliSysOgrzewania)</td>
                    <td>@Html.ValidationMessageFor(o => o.Budynek.DataKontroliSysOgrzewania)</td>
                </tr>


 @*-----------------------------------------------------------------------------------*@
                @if (ViewBag.EditMode == null || !ViewBag.EditMode)
                {
                    <tr>
                        <td colspan="3">
                            <div class="upload">
                                <input type="file" name="file" />
                            </div>
                        </td>
                    </tr>
                }


                <tr>

                    <td style="text-align: left">
                        @if (ViewBag.EditMode)
                        {
                            if (Model.Budynek.Ukryty)
                            {
                                <a href="@Url.Action("PokazBudynek", "Manage", new { BlokMieszkalnyId = Model.Budynek.BlokMieszkalnyId })" style="display: block; margin-top: 15px; font-weight: bold;">
                                    Przywróć
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("UkryjBudynek", "Manage", new { BlokMieszkalnyId = Model.Budynek.BlokMieszkalnyId  })" style="display: block; margin-top: 15px; font-weight: bold;">
                                    Usuń
                                </a>
                            }
                        }
                    </td>


                    <td style="text-align: right;">
                        <input type="submit" value="Zapisz" class="submitLink" style="height: 40px; margin-right: 0px; margin-top: 30px; font-weight: bold;" />
                    </td>
                    <td></td>
                </tr>
            </table>
        </div>
    }
</div>
