@using ZarzadzanieNieruchomosciami.Infrastructure

<nav class="KategorieVertical">




    <ul>
        <li><a href="@Url.Action("StronyKategori", "Zarzadzanie", new { nazwa = "Lokal" })" style="">Lokal/Lokale</a></li>
        <!-- <li><a href="Url.Action("StronyKategori","Zarzadzanie", new {  nazwaKategori = kategoria.NazwaKategorii.ToLower()  })" style="">Lokal/Lokale</a></li> -->
        <li><a href="@Url.Action("StronyKategori", "Zarzadzanie", new { nazwa = "Budynek" })" style="">Budynki</a></li>
        <li><a href="@Url.Action("StronyKategori", "Zarzadzanie", new { nazwa = "Dokumenty" })" style="">Dokumenty</a></li>
        <li><a href="@Url.Action("StronyKategori", "Zarzadzanie", new { nazwa = "Biblioteka" })" style="">Biblioteka</a></li>
        <li><a href="@Url.Action("StronyKategori", "Zarzadzanie", new { nazwa = "StanLicznikow" })" style="">Stan Licznikow</a></li>
        <li><a href="@Url.Action("OdczytLicznikow", "Zarzadzanie", new { nazwa = "OdczytLicznikow" })" style="">Odczyt licznikow</a></li>
        <li><a href="@Url.Action("StronyKategori", "Zarzadzanie", new { nazwa = "Rozliczenia" })" style="">Rachunki</a></li>
        <li><a href="@Url.Action("StronyKategori", "Zarzadzanie", new { nazwa = "Ksiegowosc" })" style="">Ksiegowosc</a></li>
        <li><a href="@Url.Action("StronyKategori", "Zarzadzanie", new { nazwa = "Glosowanie" })" style="">Głosowanie</a></li>
        <li><a href="@Url.Action("DodajAwarie", "Zarzadzanie", new { nazwa = "DodajAwarie" })" style="">Awarie i uwagi</a></li>
        <li><a href="@Url.Action("ListaZgloszen", "Zarzadzanie", new { nazwa = "ListaZgloszen" })" style="">Twoje zgloszenia</a></li>
        <li><a href="@Url.Action("StronyKategori", "Zarzadzanie", new { nazwa = "Telefony" })" style="">Wazne telefony</a></li>
    </ul>


</nav>




