@model IEnumerable<ZarzadzanieNieruchomosciami.Models.Kategoria>
@using ZarzadzanieNieruchomosciami.Infrastructure

<nav class="KategorieVertical">




    <ul>
        <li><a href="@Url.Action("StronyKategori","Zarzadzanie", new { nazwa = "Lokal" })" style="">Lokal/Lokale</a></li>
        <!-- <li><a href="Url.Action("StronyKategori","Zarzadzanie", new {  nazwaKategori = kategoria.NazwaKategorii.ToLower()  })" style="">Lokal/Lokale</a></li> -->
        <li><a href="@Url.Action("StronyKategori","Zarzadzanie", new { nazwa = "Budynek" })" style="">Budynki</a></li>
        <li><a href="@Url.Action("StronyKategori","Zarzadzanie", new { nazwa = "Dokumety" })" style="">Dokumety</a></li>
        <li><a href="@Url.Action("StronyKategori","Zarzadzanie", new { nazwa = "Mieszkańcy" })" style="">Mieszkańcy</a></li>
        <li><a href="@Url.Action("StronyKategori","Zarzadzanie", new { nazwa = "Rachunki" })" style="">Rachunki</a></li>
        <li><a href="@Url.Action("StronyKategori","Zarzadzanie", new { nazwa = "Głosowanie" })" style="">Głosowanie</a></li>
    </ul>


</nav>

        
  

