@model IEnumerable<ZarzadzanieNieruchomosciami.Models.BlokMieszkalny>
@using ZarzadzanieNieruchomosciami.Infrastructure

@{
    ViewBag.Title = "Budynek";
    Layout = "~/Views/Shared/_LayoutStart.cshtml";
}

<div id="Breadcrumb">
    @*<img src="../Content/Images/dommaly.png" />
    <a href="link">
        @Html.MvcSiteMap().SiteMapPath()
    </a>*@
    <form id="search-form" method="get" data-ajax="true" data-ajax-target="#SekcjaListaKategori">
        <input id="search-filter" type="search" name="searchQuery"
               data-autocomplete-source="@Url.Action("BudynkiPodpowiedzi")"
               placeholder="Wprowadź tekst, aby wyfiltrować..." />
        <input type="submit" value="" />
    </form>

</div>

<div id="SekcjaListaKategori">

    <ul class="KursyTrzyKolumny MalaListaKategorii">
        @foreach (var budynek in Model)
            {
            <li>
                <article>
                    @*NazwaPlikuObrazka*@

                    <a class="kursSzczegolyLink" href="@Url.Action("SzczegolyBloku", "Zarzadzanie", new { id = budynek.BlokMieszkalnyId })">
                        @*<img class="kurs" src="../Content/Kursy/obrazekaspnet.png" />*@
                        <img class="kurs" src="@Url.ObrazkiSciezka(budynek.NazwaPlikuObrazka)" />
                        <h1>
                            @budynek.Adres
                        </h1>
                    </a>
                </article>
            </li>
        }
    </ul>
</div>

@if (User.Identity.IsAuthenticated && User.IsInRole("Employee"))
{
    <a href="@Url.Action("DodajBudynek", "Manage")" style="margin-top: 20px; font-weight: bold; display: block;">Dodaj Budynek</a>
}

@section Scripts
{
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryAndJqueryUI")

<script>
        $(function () {
            var setupAutoComplete = function () {
                var $input = $(this);
                var options =
                    {
                        source: $input.attr("data-autocomplete-source"),
                        select: function (event, ui) {
                            $input = $(this);
                            $input.val(ui.item.label);
                            var $form = $input.parents("form:first");
                            $form.submit();
                        }
                    };
                $input.autocomplete(options);
            };
            var ajaxSubmit = function () {
                var $form = $(this);
                var settings = {
                    data: $(this).serialize(),
                    url: $(this).attr("action"),
                    type: $(this).attr("method")
                };
                $.ajax(settings).done(function (result) {
                    var $targetElement = $($form.data("ajax-target"));
                    var $newContent = $(result);
                    $($targetElement).replaceWith($newContent);
                    $newContent.effect("slide");
                });
                return false;
            };
            $("#search-filter").each(setupAutoComplete);
            $("#search-form").submit(ajaxSubmit);
        });
</script>
}
