@model IEnumerable<ZarzadzanieNieruchomosciami.Models.Dokument>
@using ZarzadzanieNieruchomosciami.Infrastructure

@{
    ViewBag.Title = "Dokumenty";
    Layout = "~/Views/Shared/_LayoutStart.cshtml";
}

<div id="Breadcrumb">
    <img src="../Content/Images/dommaly.png" />
    <a href="link">
        @Html.MvcSiteMap().SiteMapPath()
    </a>
</div>

<table id="lokale">
    <tr class="header">
        <td>NazwaDokumentu:</td>
        <td>Adres budynku:</td>
        <td>Typ Dokumentu:</td>
        <td>Autor Dokumentu:</td>
        <td>Opis Dokumentu:</td>
        <td>Szczegóły:</td>

    </tr>
@foreach (var dokument in Model)
            {
    <tr class="local">
        <td>@dokument.NazwaDokumentu</td>
        <td>@dokument.Adres</td>
        <td>@dokument.TypDokumentu</td>
        <td>@dokument.AutorDokumentu</td>
        <td>@dokument.OpisDokumentu</td>
        <@*td><span><a href="@Url.DokWlasneSciezka(dokument.NazwaPlikuDokumentu)">do pobrania</a></span></td>*@
         <td> <a class="kursSzczegolyLink" href="@Url.Action("SzczegolyDokumentu", "Zarzadzanie", new { id = dokument.DokumentID })"> >>kliknij<< </a></td>


    </tr>
}
</table>



    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <a href="@Url.Action("DodajDokument", "Manage")" style="margin-top: 20px; font-weight: bold; display: block;">Dodaj Dokument</a>
    }
