@model ZarzadzanieNieruchomosciami.ViewModels.KsiegowoscViewModel
@using ZarzadzanieNieruchomosciami.Infrastructure

@{
    ViewBag.Title = "Ksiegowosc";
    Layout = "~/Views/Shared/_LayoutStart.cshtml";
}

@*<div id="Breadcrumb">
    <img src="../Content/Images/dommaly.png" />
    <a href="link">
        @Html.MvcSiteMap().SiteMapPath()
    </a>
</div>*@


@if(Model.IsInUserRole)
{
    <br/>
    <h3>Twoj aktualny stan konta to: @Model.Saldo.ToString("N2") zł</h3>
    <br/>
}

<table id="lokale">
    <tr class="header">
        <td>DataDodania</td>
        <td>Nazwa</td>
        <td>OpisDokumentu</td>
        <td>Szczegóły</td>

    </tr>
@foreach (var wplata in Model.Documents)
            {
        <tr class="local">
            <td>@wplata.DataDodania.ToString().Substring(0, 10)</td>
            <td>@wplata.Nazwa</td>
            <td>@wplata.OpisDokumentu</td>
            
         <td> <a class="kursSzczegolyLink" href="@Url.Action("SzczegolyKsiegowosci", "Zarzadzanie", new { id = wplata.KsiegowoscID })"> >>kliknij<< </a></td>


        </tr>
    }
</table>







@if (User.Identity.IsAuthenticated && User.IsInRole("Employee"))
{
    <a href="@Url.Action("DodajKsiegowosc", "Manage")" style="margin-top: 20px; font-weight: bold; display: block;">Dodaj</a>
}