@model ZarzadzanieNieruchomosciami.ViewModels.OddajGlosViewModel
@using ZarzadzanieNieruchomosciami.Infrastructure

@{
    ViewBag.Title = "OddajGlos";
    Layout = "~/Views/Shared/_LayoutStart.cshtml";
}

<div id="Breadcrumb">
    <img src="../Content/Images/dommaly.png" />
    <a href="link">
        @Html.MvcSiteMap().SiteMapPath()
    </a>
</div>

@using (Html.BeginForm("OddajGlos", "Zarzadzanie", FormMethod.Post))
{
    <table id="lokale">
        <tr class="header">
            <td>NumerUchwaly:</td>
            <td>Nazwa:</td>
        </tr>

        <tr class="local">
            <td>@Model.NumerUchwaly</td>
            <td>@Model.Nazwa</td>

        </tr>

    </table><br /><br /><br />
    @Html.HiddenFor(model => model.NumerUchwaly)
    @Html.HiddenFor(model => model.Nazwa)

    <table id="lokale">
        <tr class="header">
            <td>Pytanie:</td>
            <td>Głos:</td>
            <td></td>
        </tr>
        @if (Model.Pytania.Any())
        {
            for (int i = 0; i < Model.Pytania.Count; i++)
            {
                @Html.HiddenFor(model => Model.Pytania[i].PytanieId)
                @Html.HiddenFor(model => Model.Pytania[i].TrescPytania)
                <tr class="local">
                    <td>@Model.Pytania[i].TrescPytania</td>


                    <td>@Html.LabelFor(o => Model.Pytania[i].Odpowiedz, "Odpowiedz:")</td>
                    <td> @Html.EnumDropDownListFor(o => Model.Pytania[i].Odpowiedz, new { @class = "Odpowiedz" })</td>

                </tr>
            }
        }
        
    </table><br /><br /><br />


    <input type="submit" value="Zapisz" class="submitLink" style="height: 40px; margin-right: 0px; margin-top: 30px; font-weight: bold;" />




    @*@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            <a href="@Url.Action("DodajLokal", "Manage")" style="margin-top: 20px; font-weight: bold; display: block;">
                Edytuj
            </a>
        }*@

}