@model IEnumerable<ZarzadzanieNieruchomosciami.Models.Rozliczenie>
@using ZarzadzanieNieruchomosciami.Infrastructure

@{
    ViewBag.Title = "Rozliczenia";
    Layout = "~/Views/Shared/_LayoutStart.cshtml";
}

<div id="Breadcrumb">
    <img src="../Content/Images/dommaly.png" />
    <a href="link">
        @Html.MvcSiteMap().SiteMapPath()
    </a>
</div>


<table id="lokale">
    <tr class="header">
        <td>Nazwa:</td>
        <td>Data:</td>
        <td>Kwota:</td>
        <td>Szczegóły:</td>

    </tr>
@foreach (var rozlicz in Model)
            {
        <tr class="local">
            <td>@rozlicz.Nazwa</td>
            <td>@rozlicz.StanNaDzien</td>
            <td>@rozlicz.OgolemDoZaplaty</td>
         <td> <a class="kursSzczegolyLink" href="@Url.Action("SzczegolyRozliczen", "Zarzadzanie", new { id = rozlicz.RozliczenieId })"> >>kliknij<< </a></td>


        </tr>
    }
</table>

