@model ZarzadzanieNieruchomosciami.ViewModels.StatystykaViewModel

@{
    ViewBag.Title = "Statystyka";
    Layout = "~/Views/Shared/_LayoutStart.cshtml";
}

<div id="Breadcrumb">
    <img src="../Content/Images/dommaly.png" />
    <a href="link">
        @Html.MvcSiteMap().SiteMapPath()
    </a>
</div>
<br /><br /><br />
<center><h1> Statystyka </h1></center>
<br />
<table id="lokale">
    <tr class="header">
        <td>Ogólna liczba zgłoszeń:</td>
        <td>Awarie nowe:</td>
        <td>W trakcie usuwania:</td>
        <td>Awarie usunięte:</td>
        <td>Awarie odrzucone:</td>
        <td>Opinie: </td>

    </tr>

    <tr class="local">
        <td>@Model.Awarie.Sum(a => a.Liczba)</td>
        <td>@Model.Awarie.Where(a => a.Status == ZarzadzanieNieruchomosciami.Models.Status.Nowe).Select(a => a.Liczba).FirstOrDefault()</td>
        <td>@Model.Awarie.Where(a => a.Status == ZarzadzanieNieruchomosciami.Models.Status.Trwa_usuwanie).Select(a => a.Liczba).FirstOrDefault()</td>
        <td>@Model.Awarie.Where(a => a.Status == ZarzadzanieNieruchomosciami.Models.Status.Usunieto_awarie).Select(a => a.Liczba).FirstOrDefault()</td>
        <td>@Model.Awarie.Where(a => a.Status == ZarzadzanieNieruchomosciami.Models.Status.Odrzucono).Select(a => a.Liczba).FirstOrDefault()</td>
        <td>@Model.Awarie.Where(a => a.Status == ZarzadzanieNieruchomosciami.Models.Status.Uwaga).Select(a => a.Liczba).FirstOrDefault()</td>

    </tr>

</table>

<br /><br /><br />
<table id="lokale">
    <tr class="header">
        <td> </td>
        <td>Awarie mediow:</td>
        <td>Uszkodzenia w czesci wspólnej:</td>
        <td>Otoczenie budynku:</td>
        <td>Inne:</td>
        <td>Opinie: </td>

    </tr>

    @foreach (var item in Model.AwarieLokal)
    {
        <tr class="local">
            <td>@item.Lokal</td>
            <td>@(item.Typ.Where(t => t == ZarzadzanieNieruchomosciami.Models.Typ.awarie_mediow).Any() ? item.Typ.Where(t => t == ZarzadzanieNieruchomosciami.Models.Typ.awarie_mediow).Count() : 0)</td>
            <td>@(item.Typ.Where(t => t == ZarzadzanieNieruchomosciami.Models.Typ.uszkodzenia_budynku).Any() ? item.Typ.Where(t => t == ZarzadzanieNieruchomosciami.Models.Typ.uszkodzenia_budynku).Count() : 0)</td>
            <td>@(item.Typ.Where(t => t == ZarzadzanieNieruchomosciami.Models.Typ.otoczenie_budynku).Any() ? item.Typ.Where(t => t == ZarzadzanieNieruchomosciami.Models.Typ.otoczenie_budynku).Count() : 0)</td>
            <td>@(item.Typ.Where(t => t == ZarzadzanieNieruchomosciami.Models.Typ.inne).Any() ? item.Typ.Where(t => t == ZarzadzanieNieruchomosciami.Models.Typ.inne).Count() : 0)</td>
            <td>@(item.Typ.Where(t => t == ZarzadzanieNieruchomosciami.Models.Typ.uwagi_opinie).Any() ? item.Typ.Where(t => t == ZarzadzanieNieruchomosciami.Models.Typ.uwagi_opinie).Count() : 0)</td>

        </tr>
    }

</table>
