@model ZarzadzanieNieruchomosciami.Models.Glosowanie
@using ZarzadzanieNieruchomosciami.Infrastructure

@{
    ViewBag.Title = "SzczegolyGlosowania";
    Layout = "~/Views/Shared/_LayoutStart.cshtml";
}

@*<div id="Breadcrumb">
    <img src="../Content/Images/dommaly.png" />
    <a href="link">
        @Html.MvcSiteMap().SiteMapPath()
    </a>
</div>*@


<table id="lokale">
    <tr class="header">
        <td>NumerUchwaly</td>
        <td>Nazwa</td>
    </tr>

    <tr class="local">
        <td>@Model.NumerUchwaly</td>
        <td>@Model.Nazwa</td>

     </tr>

</table><br /><br /><br />

Data utworzenia glosowania: @Model.DataUtworzeniaGlosowania.ToString().Substring(0, 10)<br />
Data zakończenia glosowania: @Model.DataKoncaGlosowania.ToString().Substring(0, 10)<br />
<br /><br />
<div class="content single">
    <p>
       <b> PYTANIA</b>
    </p>
    <p>
       @if (Model.Pytania != null && Model.Pytania.Any())
       {
           foreach (var pytanie in Model.Pytania)
           {
               @pytanie.TrescPytania <br />
           }
       }

    </p>
</div><br />


    @*              ZMIANA TWORZENIA PYTAN

        <table id="lokale">
        <tr class="header">PYTANIA</tr>
        @foreach (var pytanie in Model.Pytanie)
            {
            <tr class="local">
                <td>@pytanie.TrescPytania</td>



            </tr>
        }
    </table>*@





    @if (User.Identity.IsAuthenticated && User.IsInRole("Employee"))
    {
        <a href="@Url.Action("DodajGlosowanie", "Manage", new { glosowanieId = @Model.GlosowanieId })" style="margin-top: 20px; font-weight: bold; display: block;">
            Edytuj
        </a>
    }

