@model ZarzadzanieNieruchomosciami.ViewModels.LokalViewModels
@using ZarzadzanieNieruchomosciami.Infrastructure

@{
    ViewBag.Title = "SzczegolyLokalu";
    Layout = "~/Views/Shared/_LayoutStart.cshtml";
}



    <table id="lokale">
        <tr class="header">
            <td>Numer Lokalu:</td>
            <td>Adres:</td>
            <td>Powierzchnia Lokalu:</td>
            <td>Pietro:</td>
            <td>Liczba Izb:</td>
            <td>PowPiwnicy:</td>
        </tr>

        <tr class="local">
            <td>@Model.Lokal.NumerLokalu</td>
            <td>@Model.Lokal.Adres</td>
            <td>@Model.Lokal.PowierzchniaLokalu</td>
            <td>@string.Format("{0:0.##}", Model.Lokal.Pietro)<span>Pietro</span></td>
            <td>@Model.Lokal.LiczbaIzb</td>
            <td>@Model.Lokal.PowPiwnicy</td>

        </tr>

    </table>

    <!--if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
               {
                   <a href="Url.Action("DodajKurs", "Manage", new { kursId = Model.KursId })" style="margin-top: 20px; font-weight: bold; display: block;">Edytuj</a>
               }-->

