@model ZarzadzanieNieruchomosciami.Models.Glosowanie
@using ZarzadzanieNieruchomosciami.Infrastructure

@{
    ViewBag.Title = "SzczegolyGlosowania";
    Layout = "~/Views/Shared/_LayoutStart.cshtml";
}

<div id="Breadcrumb">
    <img src="../Content/Images/dommaly.png" />
    <a href="link">
        @Html.MvcSiteMap().SiteMapPath()
    </a>
</div>


<table id="lokale">
    <tr class="header">
        <td>NumerUchwaly:</td>
        <td>Nazwa:</td>
    </tr>

    <tr class="local">
        <td>@Model.NumerUchwaly</td>
        <td>@Model.Nazwa</td>

     </tr>

</table><br /><br /><br />


<div class="content single">
    <p>
        PYTANIA
    </p>
    <p>
        @if (@Model.Pytanie1 != null)
            {
            @Model.Pytanie1} <br />
        @if (@Model.Pytanie2 != null)
            {
            @Model.Pytanie2}<br />
        @if (@Model.Pytanie3 != null)
            {
            @Model.Pytanie3}<br />
        @if (@Model.Pytanie4 != null)
            {
            @Model.Pytanie4}<br />
        @if (@Model.Pytanie5 != null)
            {
            @Model.Pytanie5}<br />

    </p>
</div><br />


    @*              ZMIANA TWORZENIA PYTAN

        <table id="lokale">
        <tr class="header">PYTANIA</tr>
        @foreach (var pytanie in Model.Pytanie)
            {
            <tr class="local">
                <td>@pytanie.TrescPytania</td>



            </tr>
        }
    </table>*@





    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <a href="@Url.Action("DodajLokal", "Manage")" style="margin-top: 20px; font-weight: bold; display: block;">
            Edytuj
        </a>
    }

