@model ZarzadzanieNieruchomosciami.Models.Dokument
@using ZarzadzanieNieruchomosciami.Infrastructure

@{
    ViewBag.Title = "SzczegolyDokumentu";
    Layout = "~/Views/Shared/_LayoutStart.cshtml";
}


<table id="lokale">
    <tr class="header">
        <td>Nazwa dokumentu</td>
        <td style="width: 15%">Data</td>
        <td>Typ dokumentu</td>
        <td>Autor</td>
        <td>Opis</td>
        <td>Wersja pdf</td>

    </tr>

    <tr class="local">
        <td>@Model.NazwaDokumentu</td>
        <td>@Model.DataDokumentu.ToString().Substring(0, 10)</td>
        <td>@Model.TypDokumentu</td>
        <td>@Model.AutorDokumentu</td>
        <td>@Model.OpisDokumentu</td>
        
        <td><span><a href="@Url.DokWlasneSciezka(Model.NazwaPlikuDokumentu)"> >>pobierz<< </a></span></td>


    </tr>

</table>

@if (User.Identity.IsAuthenticated && User.IsInRole("Employee"))
{
    <a href="@Url.Action("DodajDokument", "Manage", new { dokumentId = @Model.DokumentID })" style="margin-top: 20px; font-weight: bold; display: block;">
        Edytuj
    </a>
}
