@model ZarzadzanieNieruchomosciami.Models.Dokument
@using ZarzadzanieNieruchomosciami.Infrastructure

@{
    ViewBag.Title = "SzczegolyDokumentu";
    Layout = "~/Views/Shared/_LayoutStart.cshtml";
}


<table id="lokale">
    <tr class="header">
        <td>NazwaDokumentu:</td>
        <td>Adres budynku:</td>
        <td>Typ Dokumentu:</td>
        <td>Autor Dokumentu:</td>
        <td>Opis Dokumentu:</td>
        <td>Pobierz:</td>

    </tr>

    <tr class="local">
        <td>@Model.NazwaDokumentu</td>
        <td>@Model.Adres</td>
        <td>@Model.TypDokumentu</td>
        <td>@Model.AutorDokumentu</td>
        <td>@Model.OpisDokumentu</td>
        <td><span><a href="@Url.DokWlasneSciezka(Model.NazwaPlikuDokumentu)">do pobrania</a></span></td>


    </tr>

</table>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <a href="@Url.Action("DodajDokument", "Manage")" style="margin-top: 20px; font-weight: bold; display: block;">
        Edytuj
    </a>
}
