@*@model ZarzadzanieNieruchomosciami.Models.BlokMieszkalny*@
@model ZarzadzanieNieruchomosciami.ViewModels.WypisanieLokaliZBlokuViewModel
@using ZarzadzanieNieruchomosciami.Infrastructure
@{
    ViewBag.Title = "SzczegolyBloku";
    Layout = "~/Views/Shared/_LayoutStart.cshtml";
}

<table id="lokale">
    <tr class="header">
        <td>Ulica:</td>
        <td>Numer Bloku Mieszkalnego:</td>
        <td>Powierzchnia Uzytkowa:</td>
        <td>LiczbaLokali:</td>
        <td>Nr Ewidencyjny Dzialki:</td>
        <td>Powierzchnia Dzialki:</td>
    </tr>

    <tr class="local">
        <td>@Model.BlokiMieszkalne.Ulica</td>
        <td>@Model.BlokiMieszkalne.NumerBlokuMieszkalnego</td>
        <td>@Model.BlokiMieszkalne.PowierzchniaUzytkowa</td>
        <td>@Model.BlokiMieszkalne.LiczbaLokali</td>
        <td>@Model.BlokiMieszkalne.NrEwidDzialki</td>
        <td>@Model.BlokiMieszkalne.PowDzialki</td>
    </tr>

</table>
<br /><br /><br />

<table id="lokale">
    <tr class="header">LOKALE</tr>
    @foreach (var lokal in Model.Lokal)
            {
        <tr class="local">
            <td>
                <a class="kursSzczegolyLink" href="@Url.Action("SzczegolyLokalu", "Zarzadzanie", new { id = @lokal.LokalID })">@lokal.LokalID </a>
            </td>

        </tr>
    }
</table>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <a href="@Url.Action("DodajBudynek", "Manage")" style="margin-top: 20px; font-weight: bold; display: block;">
        Edytuj
    </a>
}






