@model ZarzadzanieNieruchomosciami.ViewModels.WindykacjaViewModel
@{
    ViewBag.Title = "Windykacja";
    Layout = "~/Views/Shared/_LayoutStart.cshtml";
}

<div id="Breadcrumb">
    <img src="../Content/Images/dommaly.png" />
    <a href="link">
        @Html.MvcSiteMap().SiteMapPath()
    </a>
</div>
<br><br>
<center><h1> Windykacja </h1></center>
<br />
<table id="lokale">
    <tr class="header" >

        <td>Adres lokalu</td>
        <td>Imię i nazwisko</td>
        <td>Adres zamieszkania</td>
        <td>Telefon</td>
        <td>Kwota </td>

    </tr>

    @foreach (var item in Model.WindykacjaItems)
    {
        <tr class="local">
            <td>@item.LocalAddress</td>
            <td>@item.FullName</td>
            <td>@item.Address </td>
            <td>@item.Phone</td>
            <td>@item.Saldo zł </td>
        </tr>
    }



</table>